/*上传图片按钮样式*/
.file-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: 64px;
    background-position: center;
    border: 2px dashed #c0ccda;
    border-radius: 6px;
    box-sizing: border-box;
    width: 108px;
    height: 108px;
    line-height: 106px;
    vertical-align: top;
}

.file-button:hover {
    cursor: pointer;
    border-color: #7ca3ff; /* 悬停时的边框颜色 */
}


.selected-img .deletelink {
    display: block;
    opacity: 0; /* 初始时完全透明 */
    padding-left: 0;
    transition: opacity 0.3s, padding-left 0.3s; /* 添加过渡效果，0.3秒的持续时间 */
}

.selected-img:hover .deletelink {
    opacity: 1; /* 鼠标悬停时完全不透明 */
    padding-left: 10px; /* 逐渐增加左侧内边距 */
}

/*缩略图片样式*/
.selected-img {
    width: 108px;
    height: 108px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: solid #b1c6c1 1px;
    border-radius: 5px;
    margin-right: 10px;
}



.delete_icon_image {
    background-size: 100% 100%;
    z-index: 999;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 20px;
    height: 20px;
}

.widget_imgs {
    width: 100%;
    height: 100%;
}

/*缩略图片聚焦样式*/
.selected-img:hover {
    cursor: pointer;
}


.file-button input {
    position: absolute;
    top: 0;
    height: 100px;
    opacity: 0;
}

/*删除缩略图片icon聚焦样式*/
i:hover {
    color: #0081C6;
}

.cover_image {
    width: 160px;
    height: 100px;
    border-radius: 10px;
}

.big-img-box {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10000;
    width: 100%;
    height: 100%;
    display: none;
}

#bigimg {
    border: 5px solid #fff;
}

.selected-img img {
    width: 100%;
    height: 100%;
}